# dart
.dart_tool/
.idea/
.fvm/
.vscode/
.packages


# make files
/build/

/cpp/android/build/
/cpp/android/CMakeFiles/
/cpp/android/*.cmake
/cpp/android/Makefile
/cpp/android/CMakeCache.txt


/cpp/ios/build/

/cpp/vm/CMakeFiles/
/cpp/vm/*.cmake
/cpp/vm/Makefile
/cpp/vm/CMakeCache.txt

