# dart
.dart_tool
.packages
.idea
.fvm

# make files

/cpp/android/build/
/cpp/android/CMakeFiles/
/cpp/android/*.cmake
/cpp/android/Makefile
/cpp/android/CMakeCache.txt


/cpp/ios/build/

/cpp/vm/CMakeFiles/
/cpp/vm/*.cmake
/cpp/vm/Makefile
/cpp/vm/CMakeCache.txt

